<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="header">

    <header class="navbar navbar-fixed-top navbar-inverse bg-dark">
      <div class="container">
        <nav class="nav navbar-left">
          <%= link_to "/", class:"btn btn-link text-white text-decoration-none" do %>
            <div class="title">Bookers</div>
          <% end %>
        </nav>
        <nav>
          <ul class="navbar-nav ml-auto navbar-expand-lg">
            <% if user_signed_in? %>
              <li>
                <%= link_to user_path(current_user), class:"nav-link text-light" do %>
                <i class="fas fa-home"> Home</i>
                <% end %>
              </li>

              <li>
                <%= link_to users_path, class:"nav-link text-light" do %>
                <i class="fas fa-users"> Users</i>
                <% end %>
              </li>

              <li>
                <%= link_to books_path, class:"nav-link text-light" do %>
                <i class="fas fa-book-open"> Books</i>
                <% end %>
              </li>

              <li>
                <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-light" do %>
                <i class="fas fa-sign-out-alt"> Logout</i>
                <% end %>
              </li>

            <% else %>

              <li>
                <%= link_to root_path, class:"nav-link text-light" do %>
                <i class="fas fa-home"> Home</i>
                <% end %>
              </li>

              <li>
                <%= link_to home_about_path, class:"nav-link text-light" do %>
                <i class="fas fa-link"> About</i>
                <% end %>
              </li>

              <li>
                <%= link_to new_user_registration_path, class:"nav-link text-light" do %>
                <i class="fas fa-user-plus"> sign up</i>
                <% end %>
              </li>

              <li>
                <%= link_to new_user_session_path, class:"nav-link text-light" do %>
                <i class="fas fa-sign-in-alt"> login</i>
                <% end %>
              </li>

            <% end %>
          </ul>
          
        </nav>
      </div>
    </header>
    <div class="body">
      <p class="notice"><%= notice %></p>

      <%= yield %>


        <footer>
          <div class="container mt-5">
            <div class="row">
              <div class="mx-auto">
                <p> CopyRight Infratop.inc</p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

  </body>
</html>
